{% extends 'base.html.twig' %}

{% block title %}{{ title }}'s Classes{% endblock %}

{% block body %}

<h2>{{ title }}'s Classes</h2>

<div>

    <p>
        Add New Class
    </p>



</div>

<h3>Comments </h3>

<ul>
    
</ul>

{% endblock %}