{% extends 'base.html.twig' %}

{% block title %}Read {{ title }}{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div>

    <p>
        Tamara was here.
    </p>

    <p>
        Tamara was ........... here too.
    </p>    

    <p>
        Tamara was not here.
    </p>

</div>

<h2>Comments ({{ comments|length }})</h2>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>

{% endblock %}