{% extends 'base.html.twig' %}

{% block title %}{{ title }}'s Grades{% endblock %}

{% block body %}

<h2>{{ title }}</h2>

<div>

    <p>
        Tamara was here.
    </p>

    <p>
        Tamara was ........... here too.
    </p>    

    <p>
        Tamara was not here.
    </p>

</div>

<h3>Comments ({{ comments|length }})</h3>

<ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>
    {% endfor %}
</ul>

{% endblock %}