{% extends 'base.html.twig' %}

{% block title %}{{ title }}'s Grades{% endblock %}

{% block body %}

<h2>{{ title }}'s Grades</h2>

<div>

    <p>
        
    </p>



</div>

<h3>Not comments </h3>

<ul>
    
</ul>

{% endblock %}