{% extends 'base.html.twig' %}

{% block title %}Classes{% endblock %}

{% block body %}

<h2>Edit Classes</h2>

<div>

    <p>
        Edit Class
    </p>

{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}

</div>

<h3> </h3>

<ul>
    
</ul>

{% endblock %}