body {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: aqua;
}

.top {
    text-align: center;
    clear: both;
    background-color: maroon;
}

.middle {
    background-color:green;
}

.footer {
    text-align:center;
}