<!DOCTYPE html>
<html lang = "en">

    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Grades{% endblock %}</title>
        
        <style>
        body {
            font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        }

        .top {
            text-align: center;
            clear: both;
            background-color: maroon;
            width: 100%;
            color:white;
        }

        .middleLeft {
            color: black;
            width:100%;
            float:left;
        }

        .middleRight {
            background-color:black;
            color:white;
            width:25%;
            float:right;
            text-align:center;
        }

        .footer {
            text-align:center;
        }

        .bottom{
            background-color:yellow;
        }
</style>

        {% block stylesheets %}
            <!--<link rel="stylesheet" type="text/css" href="/css/styles.css"-->
        {% endblock %}
    </head>

    <body>

        
        <div class = 'top'>
            <h1>Kutztown University</h1>
        </div>
        
        <div class = 'middleLeft'>
            {% block body %}{% endblock %}
        </div>

        <div class = "middleRight'>
            <h6>text text text</h6>
        </div>

        {% block javascripts %}{% endblock %}

    </body>
</html>
